@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:target {
  scroll-margin-top: 6em;
}

html,
body {
  height: 100%;
}

/* header area */

.header-area {
  font-size: 1.3em;
  border-bottom: 1px solid #44f24f;
  border-radius: 0 0 25px 25px;
}

.header-area {
  background-color: #0d0d0d;
  padding: 10px;
}

.header-area i {
  font-size: 2em;
  color: rgba(255, 255, 255, 0.637);
}

.navbar {
  padding: 1em;
  max-width: 100vw;
}

/* text and buttons */

.my-picture-text {
  background-image: url(../img/background-img1.jpg);
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-bottom: 3em;
  box-shadow: inset 0 0 9px 5px rgba(0, 0, 0, 0.637);
}

.my-text {
  color: white;
}

.typed-position {
  color: white;
  margin-top: 40%;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 1.4em;
  color: #44f24f;
  height: 150px;
}

.typed-position h1 {
  font-size: 1.6em;
}

.main-btn-box {
  margin-top: 3em;
}

.main-btn-box a {
  margin: 0 0.6em;
}

.main-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: rgba(255, 255, 255, 0.055);
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.main-btn:hover {
  background-color: #0d0d0d;
  box-shadow: 0px 15px 20px #12732a;
  color: #44f24f;
  transform: translateY(-7px);
  border: 1px solid #44f24f;
}

.main-btn:active {
  transform: translateY(-1px);
}

.main-btn i {
  font-size: 1.5em;
  margin-left: 0.4em;
}

@media (max-width: 325px) {
  .typed-position {
    margin-bottom: 5em;
  }
}

@media (max-width: 480px) {
  .main-btn-box .main-btn {
    font-size: 0.5em;
  }

  .main-btn-box .main-btn i {
    margin: 0.5em 0 0 45%;
  }
}

/* my picture and abou-me*/

.my-picture {
  margin-top: 3em;
}

.about-me {
  backdrop-filter: blur(3px) saturate(180%);
  -webkit-backdrop-filter: blur(3px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  margin-top: 15%;
  padding: 2em;
  text-align: center;
}

.about-me img {
  border-radius: 50%;
  width: 250px;
}

@media (max-width: 350px) {
  .about-me img {
    width: 200px;
  }
}

.about-me p {
  margin-top: 2em;
  text-align: justify;
  color: white;
}

.arrow-down {
  font-size: 3em;
}

.arrow-down a {
  color: #44f24f;
}

/* about me area */

.about-area {
  background-image: url(../img/background-img2.jpg);
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 9px 5px rgba(0, 0, 0, 0.637);
  padding-bottom: 4em;
}

.my-description {
  background-color: #f0efef;
  margin-top: 2em;
  padding: 3em;
  text-align: justify;
  line-height: 1.5em;
  border-radius: 15px;
  font-family: "Raleway", sans-serif;
}

.my-description h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #0d0d0d;
  margin: auto;
  margin-bottom: 1em;
  border-radius: 0 0 10px 10px;
}

.main-btn-cv {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #12732a;
  background-color: rgba(255, 255, 255, 0.055);
  border: 1px solid #12732a;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  max-width: 250px;
  margin: 0 auto;
}

.main-btn-cv:hover {
  background-color: #0d0d0d;
  box-shadow: 0px 15px 20px #12732a;
  color: #44f24f;
  transform: translateY(-7px);
  border: 1px solid #44f24f;
}

.main-btn-cv:active {
  transform: translateY(-1px);
}

.btn-cv {
  text-align: center;
  margin-top: 2em;
}

.btn-cv i {
  font-size: 1.5em;
  margin-left: 0.4em;
  align-items: center;
}

/* my skills */

.technology-area {
  background-color: #0d0d0d;
  padding-top: 2em;
  padding-bottom: 4em;
}

.technology-area h3 {
  font-family: "Raleway", sans-serif;
  color: #44f24f;
  margin: auto;
  width: 80%;
  border-bottom: 1px solid #44f24f;
  padding-bottom: 1em;
  border-radius: 0 0 10px 10px;
}

.skills {
  margin-top: 3em;
  margin-bottom: 1em;
  background-color: #f0efef;
  border-radius: 40px;
  border: 1px solid #44f24f;
  box-shadow: 0px 15px 20px #12732a;
}

.skills img,
svg {
  padding: 1em;
  height: 100px;
  max-width: 100%;
}

.skills svg {
  color: #44f24f;
}

.skills h4 {
  color: #44f24f;
  font-family: "Raleway", sans-serif;
}

/* portifolio-area */

#Portifolio-area {
  background-image: url(../img/background-img2.jpg);
  background-attachment: fixed;
  box-shadow: inset 0 0 9px 5px rgba(0, 0, 0, 0.637);
  font-family: "Raleway", sans-serif;
  padding-bottom: 2em;
}

#Portifolio-area h3 {
  font-family: "Raleway", sans-serif;
  padding-top: 2em;
  padding-bottom: 0.5em;
  color: #f0efef;
  text-transform: uppercase;
  border-bottom: 1px solid #f0efef;
  border-radius: 0 0 25px 25px;
  margin-bottom: 3em;
}

#Portifolio-area h5 {
  color: #44f24f;
  font-family: "Raleway", sans-serif;
}

.card {
  background-color: #0d0d0d;
  padding-bottom: 1em;
  color: #f0efef;
  border-radius: 20px;
}

.card img {
  border-radius: 25px 25px 0 0;
}

/* contact-area */
#contact-area {
  background-color: #0d0d0d;
}

#contact-area h3 {
  padding: 1em;
  color: #44f24f;
  padding-bottom: 1em;
  font-family: "Raleway", sans-serif;
  border-bottom: 1px solid #44f24f;
  border-radius: 0 0 25px 25px;
  text-transform: uppercase;
}

.contact-box {
  padding: 2em;
}

.contact-box i {
  font-size: 2em;
  margin-bottom: 1em;
  color: #44f24f;
  border: 1px solid #44f24f;
  padding: 0.5em;
  border-radius: 50%;
}

.contact-box a,
span {
  color: white;
  transition: 0.5em;
}

.contact-box > p > a > i {
  font-size: 1em;
  color: white;
  border: none;
  padding: 0;
}

.contact-box a:hover {
  color: #44f24f;
  text-decoration: underline;
}

.contact-box p {
  color: #44f24f;
}

/* email-area*/

.email-box {
  
  margin-bottom: 2em;
}

.email-box input {
  width: 100%;
  padding: 0.5em;
  margin: .5em 0;
  outline: none;
  border: none;
  background-color: black;
  color: #f0efef;
  border-radius: 15px;
}

.email-box .form-control {
  padding: 0.5em;
  background-color: black;
  outline: none;
  border: none;
  color: white;
  margin-bottom: .5em;
}

.email-box input:focus,
.email-box .form-control:focus {
  border: none;
  border: 1px solid #44f24f;
  box-shadow: none;
}

.email-box span {
  font-size: 1.5em;
  color: #44f24f;
}

#copy-area {
  color: #44f24f;
  font-family: "Raleway", sans-serif;
}

#copy-area a {
  color: white;
  font-weight: bold;
}
